html {
  box-sizing: border-box;
}
*,
*::befor,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-text-color: #2196f3;
  --fon-cl: #2f303a;
  --with: #ffffff;
  --bgc: #f5f4fa;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container:first-child {
  margin-top: 0px;
}

header {
  width: 100%;
  height: 80px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.header {
  display: flex;
  height: 100%;
}
.header nav {
  display: flex;
}
.portfolio-header {
  border-bottom: 1px solid #ececec;
}
a {
  text-decoration: none;
}
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
ul {
  padding: 0px;
  margin: 0px;
}

/* nav a, */
/* nav ul, */
/* .header nav, */
/* .header ul, */
/* .contacts li, */
.button,
.button li,
.v li {
  display: inline-flex;
}
nav {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.link {
  display: block;
  text-align: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.17em;
  width: 145px;
  margin-right: 93px;
}

nav a {
  margin-right: 0px;
}
nav.site-nav {
  justify-content: end;
}
.site-nav li {
  display: inline-block;
  padding-right: 50px;
}
.site-nav li:last-child {
  padding-right: 0px;
}
.contacts li {
  margin-right: 50px;
  display: inline-block;
}
.contacts li:last-child {
  margin-right: 0px;
}
.contacts-mail-tel:last-child {
  padding-right: 0px;
}
.contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  align-items: center;
  text-align: right;
  padding: 0px;
  margin-left: auto;
}

.primery-nav {
  position: relative;

  color: var(--accent-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17em;
}
.primery-nav::after {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../img/hover.svg);
  height: 4px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 28px;
}
.site-nav {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17em;
  padding: 0px;
  align-items: center;
}
main {
  font-family: "Roboto", sans-serif;
  width: auto;
}
.logo-accent {
  color: var(--titel-text-color);
}
.button {
  display: inline-flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63em;
  margin: 0px;
  padding: 0px;
  margin-bottom: 34px;
}
.contacts-mail-tel {
  color: var(--primary-text-color);
}

.contacts-mail-tel .mail {
  height: 16px;
  width: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
.mail {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-mail-tel:hover .mail,
.contacts-mail-tel:focus .mail {
  fill: var(--accent-text-color);
}
.button-secondary {
  color: #212121;
}
.button button {
  padding: 6px 22px;
}
button {
  display: inline-block;
  cursor: pointer;
}

.button-primery-pf {
  color: #ffffff;
  background-color: var(--accent-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-primery-st {
  color: #ffffff;
  background-color: var(--accent-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88em;
  text-align: center;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container .buttom {
  height: 54px;
}
.row-button {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.63em;
  border: 0px;
  border-radius: 4px;
  margin-right: 8px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.row-button:hover,
.row-button:focus {
  color: var(--with);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
}
.advantages {
  color: var(--titel-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17em;
  margin: 0px;
}
.notes {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  margin: 0px;
  padding-top: 10px;
}
.about-us {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  margin: 0px;
  margin-bottom: 50px;
}

.main-section .buuton-primery-st {
  display: inline;
  width: 200px;
  justify-content: center;
}
.container-about {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 100px 25px;
  background-color: var(--bgc);
  margin-bottom: 30px;
}
.list-item.attention::before {
  background-image: url(../img/antenna.svg);
}
.list-item.pynctuality::before {
  background-image: url(../img/clock.svg);
}
.list-item.planning::before {
  background-image: url(../img/diagram.svg);
}
.list-item.technology::before {
  background-image: url(../img/astronaut.svg);
}
.main-about {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;

  flex-wrap: nowrap;
}

.main-about li {
  display: inline-block;
  justify-content: space-between;
  width: 270px;
  margin-right: 26px;
}
.main-about li:last-child,
.network-list li:last-child {
  margin-right: 0px;
}
.position {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.19em;
  font-style: normal;
}
.projects {
  color: var(--titel-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
}
.projects-hover {
  position: relative;
  overflow: hidden;
  text-align: left;
}
.wind-hover {
  display: block;
  margin: 0px;
  background-color: var(--accent-text-color);
  position: absolute;
  z-index: 4;
  /* align-content: left;
  justify-content: center; */
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 400;
  color: var(--with);
  padding: 63px 24px;
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pr-link {
  display: block;
  transition: 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pr-link:hover .wind-hover,
.pr-link:focus .wind-hover {
  transform: translateY(0%);
  opacity: 1;
}

.type {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88em;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  margin: 0px;
  margin-bottom: 10px;
}
a:hover,
a:focus {
  color: var(--accent-text-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container .button-primery-st:hover,
.container .button-primery-st:focus {
  color: var(--accent-text-color);
  background-color: var(--with);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
}
.backdrop {
  position: fixed;
  /* display: flex; */
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 55;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;

  min-width: 528px;
  min-height: 581px;
  background-color: var(--with);
  border-radius: 4px;
  color: #757575;
  padding: 40px;

  font-size: 12px;
  line-height: 1.17em;
}
.modal {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17em;
  font-style: normal;
  color: #757575;
}
.modal-titel {
  font-style: 700;
  font-size: 20px;
  line-height: 1.17em;
  font-style: normal;
  text-align: center;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}
.form-field {
  display: flex;
  flex-direction: column;
}
.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  padding-left: 14px;
  position: relative;
}

.form-input {
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-check {
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* margin-right: 14px;
  -webkit-animation: none;
  -moz-animation: none;
  appearance: none; */
}
/* .check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
} */
.form-svg {
  position: relative;
}
.form-inpyt-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  padding: 3px;
  left: 12px;
  top: 12px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-coment {
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form-input:focus + * .form-inpyt-svg {
  fill: var(--accent-text-color);
}
.form-input:focus,
.form-coment:focus {
  border: 1px solid var(--accent-text-color);
}

.agreed {
  color: #2196f3;
}
.modal > button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 7px;
  top: 7px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.form-field-check {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71em;

  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check {
  content: "";
  position: absolute;
  width: 16px;
  height: 15px;
  background-image: url(../img/check.svg);
  left: -4px;
  top: 4px;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-input-check:checked + .check {
  background-image: url(../img/icon-check.svg);
  fill: var(--with);
  background-color: var(--accent-text-color);
  border-radius: 4px;
  border-color: var(--accent-text-color);
  background-origin: border-box;
}
.modal-form .check-button {
  display: block;
  margin: 30px auto 0px;
  padding: 10px 55px;
  color: var(--with);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.875em;
  font-weight: 700;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.command {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  margin: 0px;
  margin-bottom: 50px;
}

.footer {
  font-family: "Roboto", sans-serif;
  background-color: var(--fon-cl);
  width: 100%;
  height: 252px;
  padding-bottom: 60px;
  padding-top: 60px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  color: var(--accent-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
}
.logo-ac-footer {
  color: var(--with);
}
.footer-cont {
  display: flex;
  padding-top: 60px;
}
.footer b {
  display: block;
  color: var(--with);
  margin-bottom: 20px;
}
.join-list {
  display: flex;
}
.join-list li {
  margin-right: 10px;
}
.join-footer {
  margin-left: 70px;
}

.button-list {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-menu {
  text-align: center;
  align-items: flex-start;
}
.button-menu h1 {
  display: none;
}
.type-pr-list {
  padding: 0px;
  display: flex;
  flex-basis: calc((100%-30) / 3);
  flex-wrap: wrap;
  margin: 0px;
}
.projects-list {
  min-width: 37px;
}

.link-menu {
  display: block;
  width: 370px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.link-menu:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.link-menu:nth-child(3n + 1) {
  margin-left: 0px;
}

.pr-link:hover,
.pr-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.type-pr h2 {
  margin: 0px;
  margin-bottom: 4px;
}

.list {
  margin: 0px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list img {
  display: block;
  margin: 0px;
}
.type-pr {
  padding: 20px 24px;
  text-align: left;
  border: 1px solid #eeeeee;
  border-top: 0px;
  margin: 0px;
}
.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--with);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  margin-bottom: 9px;
}
.wind-hover {
  margin: 0px;
}
.mail-tel {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ffffff99;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  margin-bottom: 9px;
}
.customers {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers h2 {
  margin: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17em;
}

address ul {
  padding: 0px;
  margin-top: 20px;
}
footer {
  display: inline-flex;
  align-items: center;
}
.adresss-footer {
  margin: 0px;
  margin-top: 20px;
}
.teams:last-child,
.customers li:last-child {
  margin-right: 0px;
}
.main-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  color: #ffffff;
  background-color: #2f303a;
  justify-content: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/main.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-img {
  background-color: var(--bgc);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.teams {
  display: inline-block;
  background-color: var(--with);
  margin-right: 26px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-teams {
  background-color: var(--bgc);
  text-align: center;
  padding: 0px;
  padding-bottom: 94px;
  padding-top: 94px;
  padding-left: 0px;
}
.network-list li {
  display: inline-block;
  margin-right: 10px;
}
.teams-list {
  margin: 0px;
  padding-left: 0px;
}
.adout-us-img {
  text-align: inherit;
  margin: 0px;
  padding-bottom: 94px;
}
.name-pos {
  padding-top: 30px;
}
.social-icon li {
  display: inline-flex;
}
.sosial-icon-svg {
  width: 20px;
  height: 20px;
}
.social-icon-link {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
}
.social-icon-link:focus,
.social-icon-link:hover {
  background-color: var(--accent-text-color);
}

.social-icon-link:focus .sosial-icon-svg,
.social-icon-link:hover .sosial-icon-svg {
  fill: var(--with);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customed {
  display: flex;
  margin-top: 50px;
}
.customed-link-svg {
  width: 89px;
  height: 52px;
}
.customed-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.customed-item:not(:last-child) {
  margin-right: 27px;
}
.customed-link {
  height: 90px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  background-size: cover;
}
.customed-container {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.customed-container h2 {
  font-size: 36px;
  line-height: 1.17em;
  margin: 0px;
}
.customed-item:focus,
.customed-item:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customed-item:focus .customed-link-svg,
.customed-item:hover .customed-link-svg {
  fill: var(--accent-text-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.images-list {
  display: block;
  flex-wrap: wrap;
}
.images {
  display: inline-flex;
  /* max-width: 370px; */
}
.images .image-menu {
  flex-basis: calc((100%-30) / 3);
  margin-right: 30px;
}
.image-menu img {
  display: block;
}

.image-menu {
  position: relative;
}
.images-list-item {
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  margin: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 1.17em;
  color: var(--with);
  font-weight: 700;
  text-align: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
}
.social-icon-item:not(:last-child) {
  margin-right: 10px;
}

.images li:last-child {
  padding-right: 0px;
}
.adout-us-img ul {
  margin: 0px;
  padding: 0px;
}
.join {
  display: inline-block;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.join.inst {
  background-image: url(../img/instagram.svg);
}
.join.twitter {
  background-image: url(../img/twitter.svg);
}
.join.facebook {
  background-image: url(../img/facebook.svg);
}
.join.linkedin {
  background-image: url(../img/linkedin.svg);
}
.join:hover,
.join:focus {
  background-color: var(--accent-text-color);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe {
  margin-left: auto;
}
.form-footer {
  display: flex;
}
.foter-input {
  width: 357px;
  height: 50px;
  display: block;
  padding: 16px;
  font-size: 16px;
  line-height: 1.25em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  margin-right: 12px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.foter-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25em;
}
.button-subscribe {
  display: flex;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--with);
  font-size: 16px;
  line-height: 1.875em;
  font-weight: 700;
  padding: 10px 29px;
  border: none;
  flex-direction: row-reverse;
}
.button-subscribe:hover .footer-subscribe-svg {
  fill: var(--accent-text-color);
}
.button-subscribe:hover {
  background-color: var(--with);
  color: var(--accent-text-color);
}

.footer-subscribe-svg {
  width: 24px;
  height: 24px;
  fill: var(--with);
  margin-left: 10px;
}
